{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "src": "./src",
          "assets": "./assets",
          "scenes": "./src/scenes",
          "graphql": "./src/graphql",
          "services": "./src/services",
          "navigation": "./src/navigation"
        }
      }
    ]
  ]
}