{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver", 
      {
      "root": [
        "./src"
      ],
      "alias": {
        "src": "./src",
        "scenes": "./src/scenes",
        "services": "./src/services",
        "navigation": "./src/navigation"
      }
    }]
  ]
}