{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}